body{
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #dbeafe, #f0f9ff);
    margin: 0;
    padding: 0;
}

/* Main Container */

.container{
    width: 80%;
    max-width: 900px;
    background-color: white;
    margin: 40px auto;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0px 0px 15px lightgray;
}

/* Headings */

h1{
    text-align: center;
    color: darkblue;
    margin-bottom: 30px;
}

h2,h3{
    color: darkblue;
    margin-top: 25px;
}

/* Inputs */

input,
select,
textarea{
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid gray;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Radio */

input[type="radio"]{
    width: auto;
}

/* Buttons */

button{
    background-color: darkblue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    background-color: blue;
}

/* Tables */

table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table,th,td{
    border: 1px solid gray;
}

th{
    background-color: darkblue;
    color: white;
}

th,td{
    padding: 12px;
    text-align: center;
}

/* Paragraph */

p{
    font-size: 18px;
    line-height: 1.7;
}

/* Links */

a{
    text-decoration: none;
    color: darkblue;
    font-weight: bold;
}

a:hover{
    color: blue;
}